body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
}

section {
  background-color: $color-white;
}

.heading__primary {
  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 2.4rem;

  @include animation(moveToDown, 0.1s);

  @media only screen and (max-width: 50em) {
    font-size: 4rem;
  }
}

.heading__secondary {
  font-size: 3rem;
  font-weight: 700;
  color: $color-secondary-light;
  margin-bottom: 0.8rem;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    height: 0.3rem;
    width: 8rem;
    background-color: $color-primary;
    margin: 0.8rem 1rem;

    @media only screen and (max-width: 37em) {
      width: 3rem;
      height: 0.3rem;
    }
  }

  &--small {
    color: $color-white !important;

    &::before,
    &::after {
      display: none;
    }
  }
}

.heading__tertiary {
  font-size: 3.4rem;
  font-weight: 700;
  color: $color-secondary-light;
  margin-bottom: 1rem;

  &--small {
    font-size: 2.4rem;
  }
}

.sub__heading {
  margin-bottom: 3rem;
}
