// COLORS
$color-primary: #1bbca3;
$color-primary-light: #49c9b5;
$color-primary-dark: #169682;

$color-secondary-light: #384f4b;
$color-secondary-dark: #0e1a18;
$color-secondary-dark-2: #152825;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #ccc;

$color-grey-dark-1: #444;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
